$button-color: #ffb611;
$subtitle-color: #676099;
$standard-box-shadow: 3px 3px 10px rgba(0,0,0,.8);

@mixin align-mini-cards {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@mixin navigation-container-alignment {
  display: flex;
  height: 172px;
  flex-direction: column;
  justify-content: flex-end;
}

@mixin margins {
  margin-left: 10px;
  margin-right: 10px;
}
